<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulubook</title>
</head>

<body>
    <header id="headerContent">
        <h2>BuluBook</h2>
        <nav>
            <li><a href="#/home-page">Home</a></li>
            <li><a href="#/list-ground-page">List Grounds</a></li>
            <li><a href="#/pemberi-sewa">Pemberi Sewa</a></li>
        </nav>
    </header>

    <main id="mainContent">

    </main>

    <footer id="footerContent">
        <h2>© 2023 BuluBook</h2>
    </footer>
</body>

</html>